/******************************/
/***********Mixings************/
/******************************/
/******************************/
/************Menu**************/
/******************************/
#navigation_bar {
  background-color: #4c89a5;
  color: white;
  padding-top: 13px;
  padding-bottom: 13px;
}

#navigation_bar #menu_select {
  width: 80%;
}

#navigation_bar #menu_select #select_title {
  text-align: right;
  padding-right: 0px;
  padding-top: 4.5px;
}

#navigation_bar #menu_select #select_content select {
  color: white;
  background-color: #4c89a5;
  font-size: 14px;
  border-bottom: 1px solid #b9b9b9 !important;
}

#navigation_bar #menu_select #select_content select:hover {
  cursor: pointer;
}

#navigation_bar #menuItems {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 8px;
}

#navigation_bar #menuItems ul {
  padding-left: 100px;
}

#navigation_bar #menuItems ul li {
  padding-right: 7px;
}

#navigation_bar #menuItems ul li button {
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: transparent;
  color: white;
  width: 40px;
  height: 30px;
}

#navigation_bar #menuItems ul li button i:hover {
  cursor: pointer;
}

#navigation_bar #menuItems ul li button .hamburguer_span_items {
  display: none;
}

#navigation_bar #menuItems ul li button:hover {
  cursor: pointer;
  background-color: #32667e;
}

#navigation_bar #menuItems ul li #comments {
  margin-top: -1px;
  padding-top: 3px !important;
}

#navigation_bar #menuItems ul li #logout {
  padding-left: 2px !important;
}

#navigation_bar #menuItems ul #separator_icon {
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 20px;
}

/******************************/
/********Edition searchs*******/
/******************************/
#form_bar {
  margin-left: 10px;
  margin-right: 6px;
  padding-top: 15px;
  font-size: 13px;
}

#form_bar #form_bar_select {
  text-align: left;
  padding-top: 6px;
}

#form_bar #form_bar_select select {
  border-bottom: 1px solid #b9b9b9 !important;
  width: 47%;
  font-size: 14px;
}

#form_bar #form_bar_select select:hover {
  cursor: pointer;
}

#form_bar #form_bar_err {
  visibility: hidden;
  text-align: center;
}

#form_bar #form_bar_err div {
  color: black;
  font-size: 15px;
  padding: 8px;
}

#form_bar #form_bar_err div i {
  color: red;
  padding-right: 6px;
}

#form_bar #form_bar_buttons {
  text-align: right;
}

#form_bar #form_bar_buttons button {
  width: 50px;
}

#form_bar #form_bar_buttons button {
  padding-top: 0.6%;
  height: 30px;
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid rgba(236, 236, 236, 0.753);
  font-size: 15px;
}

#form_bar #form_bar_buttons button:hover {
  background-color: rgba(230, 227, 227, 0.644);
}

#form_bar #form_bar_buttons #btn_close {
  background-color: #ff4747;
  color: white;
}

#form_bar #form_bar_buttons #btn_close:hover {
  background-color: #c53a3a;
  color: white;
}

#form_bar #form_bar_buttons #btn_save {
  background-color: #4c89a5;
  color: white;
}

#form_bar #form_bar_buttons #btn_save:hover {
  background-color: #32667e;
  color: white;
}

/******************************/
/********Basic edition*********/
/******************************/
#basic_edition {
  padding-left: 27px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 15px;
}

#basic_edition #media {
  color: rgba(96, 96, 102, 0.938);
  border: 1px solid #9e9e9e;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

#basic_edition #media:hover {
  color: black;
  cursor: pointer;
}

#basic_edition #media div {
  margin-top: 105px;
}

#basic_edition #contentBE {
  padding-bottom: 8px;
  padding-left: 20px;
}

#basic_edition #contentBE .BE {
  padding-top: 18px;
}

#basic_edition #contentBE #first_BE .form-label, #basic_edition #contentBE .BE .form-label {
  visibility: hidden;
  color: rgba(96, 96, 102, 0.938);
  font-size: 13px;
}

#basic_edition #contentBE #first_BE .form-control, #basic_edition #contentBE .BE .form-control {
  font-size: 15px;
  margin-top: -7px;
  border: none;
  border-bottom: 1px solid #b9b9b9;
  width: 100%;
  padding: 0px;
}

#basic_edition #contentBE #first_BE .form-control:focus, #basic_edition #contentBE .BE .form-control:focus {
  background-color: white;
}

/******************************/
/*********Tab styles***********/
/******************************/
.tab {
  margin-left: 17px;
  font-size: 14px;
  padding-top: 30px;
}

.tab ul {
  border: none;
}

.tab ul li {
  border-right: 1px solid rgba(230, 227, 227, 0.644);
  border-left: 1px solid rgba(230, 227, 227, 0.644);
  border-top: 1px solid rgba(230, 227, 227, 0.644);
  border-bottom: 1px solid rgba(230, 227, 227, 0.644);
}

.tab ul li:hover {
  background-color: rgba(230, 227, 227, 0.644);
}

.tab ul li button {
  color: rgba(96, 96, 102, 0.938);
  border-radius: 0% !important;
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
  border: 3px solid transparent !important;
}

.tab ul li button:hover {
  color: rgba(96, 96, 102, 0.938);
}

.tab ul li .active {
  border-bottom: 3px solid #4c89a5 !important;
}

.tab .tab-content #general_information #general_information_content {
  border: 1px solid #e7e5e5;
  margin-right: 15px;
}

.tab .tab-content #general_information #general_information_content div #first_GI, .tab .tab-content #general_information #general_information_content div .GI {
  padding-top: 18px;
}

.tab .tab-content #general_information #general_information_content div #last_GI {
  padding-top: 18px;
  padding-bottom: 50px;
}

.tab .tab-content #general_information #general_information_content div #first_GI .form-label, .tab .tab-content #general_information #general_information_content div .GI .form-label, .tab .tab-content #general_information #general_information_content div #last_GI .form-label {
  visibility: hidden;
  color: rgba(96, 96, 102, 0.938);
  font-size: 13px;
}

.tab .tab-content #general_information #general_information_content div #first_GI .form-control, .tab .tab-content #general_information #general_information_content div .GI .form-control, .tab .tab-content #general_information #general_information_content div #last_GI .form-control {
  font-size: 15px;
  margin-top: -7px;
  border: none;
  border-bottom: 1px solid #b9b9b9;
  width: 100%;
  padding: 0px;
}

.tab .tab-content #general_information #general_information_content div #first_GI .form-control:focus, .tab .tab-content #general_information #general_information_content div .GI .form-control:focus, .tab .tab-content #general_information #general_information_content div #last_GI .form-control:focus {
  background-color: white;
}

.tab .tab-content #general_information #general_information_content div .GI #sellRights input {
  background-image: url("../images/sellRights.svg") !important;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 18px;
  background-color: transparent !important;
}

/******************************/
/****Bottom buttons styles*****/
/******************************/
#bottom_buttons {
  margin-top: 30px;
  margin-left: 2px;
  padding-bottom: 30px;
}

#bottom_buttons div button {
  padding-top: 0.23%;
  height: 32px;
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid rgba(236, 236, 236, 0.753);
  font-size: 15px;
}

#bottom_buttons div button:hover {
  background-color: rgba(230, 227, 227, 0.644);
}

#bottom_buttons div #btn_close {
  background-color: white;
  color: #ff4747;
}

#bottom_buttons div #btn_close:hover {
  background-color: rgba(230, 227, 227, 0.644);
  color: #c53a3a;
}

#bottom_buttons div #btn_save {
  background-color: white;
  color: #4c89a5;
}

#bottom_buttons div #btn_save:hover {
  background-color: rgba(230, 227, 227, 0.644);
  color: #32667e;
}

#bottom_buttons div #btn_close i, #bottom_buttons div #btn_save i {
  font-size: 13px;
  padding-right: 3px;
}

/*------------------------------*/
/*---------Responsive-----------*/
/*------------------------------*/
@media (max-width: 2025px) {
  #bottom_buttons div #btn_justify, #bottom_buttons div #btn_code {
    padding-top: 0.28% !important;
  }
}

@media (max-width: 1874px) {
  #bottom_buttons div #btn_close, #bottom_buttons div #btn_save {
    padding-top: 0.26% !important;
  }
}

@media (max-width: 1673px) {
  #bottom_buttons div #btn_justify, #bottom_buttons div #btn_code {
    padding-top: 0.33% !important;
  }
}

@media (max-width: 1664px) {
  #bottom_buttons div #btn_close, #bottom_buttons div #btn_save {
    padding-top: 0.28% !important;
  }
}

@media (max-width: 1549px) {
  #bottom_buttons div #btn_close, #bottom_buttons div #btn_save {
    padding-top: 0.3% !important;
  }
}

@media (max-width: 1502px) {
  #bottom_buttons div #btn_close, #bottom_buttons div #btn_save {
    padding-top: 0.32% !important;
  }
}

@media (max-width: 1472px) {
  #form_bar_buttons button {
    width: 50px;
    padding-top: 2px !important;
  }
}

@media (max-width: 1411px) {
  #bottom_buttons div #btn_close, #bottom_buttons div #btn_save {
    padding-top: 0.34% !important;
  }
}

@media (max-width: 1400px) {
  #form_bar_select select {
    width: 70% !important;
  }
}

@media (max-width: 1332px) {
  #bottom_buttons div #btn_close, #bottom_buttons div #btn_save {
    padding-top: 0.36% !important;
  }
}

@media (max-width: 1314px) {
  #media div {
    margin-top: 93px !important;
  }
}

@media (max-width: 1261px) {
  #bottom_buttons div #btn_close, #bottom_buttons div #btn_save {
    padding-top: 0.38% !important;
  }
}

@media (max-width: 1199px) {
  #form_bar_select select {
    width: 100% !important;
  }
}

@media (max-width: 1197px) {
  #bottom_buttons div #btn_close, #bottom_buttons div #btn_save {
    padding-top: 0.4% !important;
  }
}

@media (max-width: 1139px) {
  #bottom_buttons div #btn_close, #bottom_buttons div #btn_save {
    padding-top: 0.42% !important;
  }
}

@media (max-width: 1077px) {
  #form_bar_buttons button {
    width: 45px !important;
    padding-top: 2px !important;
  }
}

@media (max-width: 1163px) {
  #bottom_buttons div #btn_close, #bottom_buttons div #btn_save {
    padding-top: 0.45% !important;
  }
}

@media (max-width: 992px) {
  #navigation_bar {
    padding-right: 20px;
    padding-left: 30px;
  }
  #navigation_bar #hamburguer_icon button {
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    width: 40px;
    height: 30px;
  }
  #navigation_bar #hamburguer_icon button i:hover {
    cursor: pointer;
  }
  #navigation_bar #menuItems {
    border-radius: 10px;
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  #navigation_bar #menuItems ul {
    margin: 0px !important;
    padding: 0px !important;
  }
  #navigation_bar #menuItems ul li {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navigation_bar #menuItems ul li button {
    width: 205px;
  }
  #navigation_bar #menuItems ul li button .hamburguer_span_items {
    display: inline !important;
    padding-left: 10px;
  }
  #navigation_bar #menuItems ul li #language {
    padding-top: 2px !important;
  }
  #navigation_bar #menuItems ul #separator_icon {
    display: none;
  }
  #navigation_bar #menuItems ul #last_item_hamburguer {
    padding-bottom: 15px;
  }
  #form_bar_buttons {
    display: none;
  }
  #basic_edition {
    padding-right: 23px !important;
  }
  #basic_edition #media div {
    margin-top: 40px !important;
    margin-bottom: 40px;
  }
  #basic_edition #contentBE {
    padding-left: 10px !important;
  }
  #basic_edition #contentBE .BE {
    padding-top: 0px !important;
  }
  #basic_edition #contentBE .BE .inputsBE, #basic_edition #contentBE #first_BE .inputsBE {
    padding-top: 13px !important;
  }
  .GI, #last_GI, #first_GI {
    padding-top: 0px !important;
  }
  .GI .inputsGI, #last_GI .inputsGI, #first_GI .inputsGI {
    padding-top: 15px;
  }
  .GI .column_hidden_before_md, #last_GI .column_hidden_before_md, #first_GI .column_hidden_before_md {
    display: none;
  }
}

@media (max-width: 771px) {
  #bottom_buttons div #btn_justify, #bottom_buttons div #btn_code {
    padding-top: 0.35% !important;
  }
}

@media (max-width: 768px) {
  #form_bar_select select {
    width: 55% !important;
  }
  #form_bar_err div {
    display: none;
    margin-top: 25px;
  }
}

@media (max-width: 729px) {
  #bottom_buttons div #btn_justify, #bottom_buttons div #btn_code {
    padding-top: 0.38% !important;
  }
}

@media (max-width: 677px) {
  #bottom_buttons div #btn_justify, #bottom_buttons div #btn_code {
    padding-top: 0.41% !important;
  }
}

@media (max-width: 631px) {
  #bottom_buttons div #btn_justify, #bottom_buttons div #btn_code {
    padding-top: 0.45% !important;
  }
}

@media (max-width: 607px) {
  #bottom_buttons div #btn_justify, #bottom_buttons div #btn_code {
    padding-top: 0.49% !important;
  }
}

@media (max-width: 568px) {
  #bottom_buttons div #btn_justify, #bottom_buttons div #btn_code {
    padding-top: 0.53% !important;
  }
}
/*# sourceMappingURL=edition.css.map */