/*------------------------------*/
/*--------Mixin_buttons---------*/
/*------------------------------*/
/*------------------------------*/
/*-----------Searchs------------*/
/*------------------------------*/
form {
  padding: 20px;
  padding-bottom: none !important;
}

form #select_searchs select {
  border-bottom: 1px solid #b9b9b9 !important;
  font-size: 14px;
}

form #select_searchs select:hover {
  cursor: pointer;
}

form #select_searchs span {
  font-size: 13px;
  color: rgba(96, 96, 102, 0.938);
}

form #select_searchs #input_search {
  margin-top: 22px;
}

form #select_searchs #input_search .form-control {
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #b9b9b9;
  padding-bottom: 4.5px !important;
  padding-left: 0px;
}

form #select_searchs #select_behavoir {
  margin-top: 23px;
}

form #button_searchs div {
  padding-top: 12px;
}

form #button_searchs div div {
  text-align: right;
  padding-top: 10px;
  padding-right: 0px;
}

form #button_searchs button {
  color: #4c89a5;
  font-size: 15px;
  height: 35px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  margin-right: 3px;
}

form #button_searchs button:hover {
  background-color: rgba(230, 227, 227, 0.644);
  color: #376479;
}

form #button_searchs #btn_reload {
  width: 60px;
  padding-top: 5px;
}

form #button_searchs #btn_reload i {
  font-size: 17px;
  color: #4c89a5;
}

form #button_searchs #btn_order {
  width: 90px;
  padding-top: 5px;
}

form #button_searchs #btn_order i {
  padding-right: 6px;
  font-size: 16px;
  color: #4c89a5;
}

form #button_searchs #btn_order span {
  display: inline;
}

form #button_searchs #btn_new {
  padding-top: 5px;
  width: 200px;
}

form #button_searchs #btn_new i {
  padding-right: 5px;
  font-size: 15px;
  color: #4c89a5;
  display: inline;
}

form #button_searchs #btn_search {
  padding-top: 5px;
  width: 200px;
}

form #button_searchs #btn_search i {
  padding-right: 10px;
  font-size: 14px;
  color: #4c89a5;
}

form #button_searchs #btn_search span {
  display: inline;
}

/*------------------------------*/
/*------------List--------------*/
/*------------------------------*/
#productsList {
  padding-top: 25px;
}

#productsList table {
  font-size: 13px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  margin-left: 7px;
}

#productsList table tr td, #productsList table tr th {
  color: #9b9a9a;
  border: 1px solid #e6e6e6;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 5px;
}

#productsList table tr td input:hover, #productsList table tr th input:hover {
  cursor: pointer;
}

#productsList table tr td i, #productsList table tr th i {
  font-size: 15px;
  color: #868686;
}

#productsList table tr td #arrowIcon, #productsList table tr th #arrowIcon {
  font-size: 15px;
  color: #2e2d2d;
}

#productsList table tr td #arrowIcon:hover, #productsList table tr th #arrowIcon:hover {
  color: #4c89a5;
  cursor: pointer;
}

#productsList table tr .center_items {
  text-align: center;
}

/*------------------------------*/
/*---------Pagination-----------*/
/*------------------------------*/
footer {
  padding-top: 30px;
}

footer #title_pagination {
  text-align: right;
  padding-top: 4px;
}

footer #title_pagination span {
  color: #868686;
  font-size: 13px;
}

footer select {
  border-bottom: 1px solid #b9b9b9 !important;
  font-size: 13px !important;
}

footer select:hover {
  cursor: pointer;
}

footer #icons_pagination {
  padding-left: 15px;
  padding-top: 2px;
  font-size: 14px !important;
}

/*------------------------------*/
/*---------Responsive-----------*/
/*------------------------------*/
@media (max-width: 1837px) {
  #button_searchs button {
    color: #4c89a5;
    font-size: 14px !important;
    height: 35px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin-right: 3px;
  }
  #button_searchs button:hover {
    background-color: rgba(230, 227, 227, 0.644);
    color: #376479;
  }
  #button_searchs #btn_reload {
    width: 43px !important;
    padding-top: 5px;
  }
  #button_searchs #btn_reload i {
    font-size: 17px;
    color: #4c89a5;
  }
  #button_searchs #btn_order {
    width: 43px !important;
    padding-top: 5px;
  }
  #button_searchs #btn_order i {
    padding-right: 0px !important;
    font-size: 18px !important;
    color: #4c89a5;
  }
  #button_searchs #btn_order span {
    display: none !important;
  }
  #button_searchs #btn_new {
    padding-top: 5px;
    width: 163px !important;
  }
  #button_searchs #btn_new i {
    padding-right: 5px;
    font-size: 14px !important;
    color: #4c89a5;
    display: none !important;
  }
  #button_searchs #btn_search {
    padding-top: 5px;
    width: 175px !important;
  }
  #button_searchs #btn_search i {
    padding-right: 10px;
    font-size: 13px !important;
    color: #4c89a5;
  }
  #button_searchs #btn_search span {
    display: inline !important;
  }
}

@media (max-width: 1430px) {
  #button_searchs #btn_search {
    padding-top: 5px;
    width: 120px !important;
  }
  #button_searchs #btn_search i {
    padding-right: 10px;
    font-size: 13px !important;
    color: #4c89a5;
  }
  #button_searchs #btn_search span {
    display: none !important;
  }
}

@media (max-width: 1399px) {
  #select_behavoir {
    margin-top: 15px;
  }
  #button_searchs div {
    padding-top: 12px;
  }
  #button_searchs div div {
    text-align: center !important;
    padding-top: 33px !important;
    padding-right: 10px !important;
  }
  #button_searchs button {
    color: #4c89a5;
    font-size: 15px !important;
    height: 35px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin-right: 3px;
  }
  #button_searchs button:hover {
    background-color: rgba(230, 227, 227, 0.644);
    color: #376479;
  }
  #button_searchs #btn_reload {
    width: 60px !important;
    padding-top: 5px;
  }
  #button_searchs #btn_reload i {
    font-size: 17px;
    color: #4c89a5;
  }
  #button_searchs #btn_order {
    width: 90px !important;
    padding-top: 5px;
  }
  #button_searchs #btn_order i {
    padding-right: 6px !important;
    font-size: 16px !important;
    color: #4c89a5;
  }
  #button_searchs #btn_order span {
    display: inline !important;
  }
  #button_searchs #btn_new {
    padding-top: 5px;
    width: 200px !important;
  }
  #button_searchs #btn_new i {
    padding-right: 5px;
    font-size: 15px !important;
    color: #4c89a5;
    display: inline !important;
  }
  #button_searchs #btn_search {
    padding-top: 5px;
    width: 200px !important;
  }
  #button_searchs #btn_search i {
    padding-right: 10px;
    font-size: 14px !important;
    color: #4c89a5;
  }
  #button_searchs #btn_search span {
    display: inline !important;
  }
}

@media (max-width: 768px) {
  #input_search {
    margin-top: 15px;
  }
}

@media (max-width: 639px) {
  #button_searchs button {
    color: #4c89a5;
    font-size: 14px !important;
    height: 35px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin-right: 3px;
  }
  #button_searchs button:hover {
    background-color: rgba(230, 227, 227, 0.644);
    color: #376479;
  }
  #button_searchs #btn_reload {
    width: 43px !important;
    padding-top: 5px;
  }
  #button_searchs #btn_reload i {
    font-size: 17px;
    color: #4c89a5;
  }
  #button_searchs #btn_order {
    width: 43px !important;
    padding-top: 5px;
  }
  #button_searchs #btn_order i {
    padding-right: 0px !important;
    font-size: 18px !important;
    color: #4c89a5;
  }
  #button_searchs #btn_order span {
    display: none !important;
  }
  #button_searchs #btn_new {
    padding-top: 5px;
    width: 163px !important;
  }
  #button_searchs #btn_new i {
    padding-right: 5px;
    font-size: 14px !important;
    color: #4c89a5;
    display: none !important;
  }
  #button_searchs #btn_search {
    padding-top: 5px;
    width: 175px !important;
  }
  #button_searchs #btn_search i {
    padding-right: 10px;
    font-size: 13px !important;
    color: #4c89a5;
  }
  #button_searchs #btn_search span {
    display: inline !important;
  }
}
/*# sourceMappingURL=list.css.map */