$colorLiTab: rgba(230, 227, 227, 0.644);
$borderLiTab: 1px solid rgba(230, 227, 227, 0.644); 
$borderInputsSelects: 1px solid rgb(185, 185, 185);
$colorMenu_Buttons: white; 
$colorFont_TabsButtonsLabels: rgba(96, 96, 102, 0.938);
$colorMedia_Err: black;
$primaryColor: rgb(76, 137, 165); 
$primaryColorHover: rgb(50, 102, 126); 
$maxSize: 15px; 
$mediumSize: 14px;
$minSize: 13px; 
$closeColor: rgb(255, 71, 71); 
$closeColorHover: rgb(197, 58, 58); 