$minWidthOR: 43px !important;
$maxIconOrder: 18px !important;
$minIconOrder: 16px;
$minPRorder: 0px !important;
$maxPRorder: 6px;
$maxWidthReload: 60px;
$maxWidthOrder: 90px;
$minWidthNew: 163px !important;
$maxWidthSearchNew: 200px;
$mediumWidthSearch: 175px !important;
$minSize: 13px; 
$mediumSize: 14px;
$maxSize: 15px;
$PTbuttons: 5px;
$colorFontButtons: rgb(76, 137, 165);
$visible: inline !important;
$none: none !important; 
$borderTable: 1px solid rgb(230, 230, 230);
$primaryFontColor: rgb(155, 154, 154);
$secundaryFontColor: rgb(134, 134, 134);
$borderInputsSelects: 1px solid rgb(185, 185, 185);