@mixin styleBarSelect($W) {
    .form_bar_select {
        select{
            width: $W;
        }
    }
}
@mixin styleBarButtons($W) {
    .form_bar_buttons {  
        button {
            width: $W;
            padding-top: 2px !important;
        }
    }
}
@mixin styleMedia($MT) {
    .dropZone { 
        div{
            margin-top: $MT;
        }
    }
}
@mixin styleButton($PT, $H) {
    button {
        padding-top: $PT;
        height: $H;
        margin-left: 5px;
        border-radius: 4px;
        border:1px solid rgba(236, 236, 236, 0.753);
        font-size: $maxSize;
        &:hover {
            background-color: $colorLiTab;
        }
    }
}
@mixin styleEspecificButtons($BC, $C, $BCH, $CH) {
    background-color: $BC;
    color: $C;
    &:hover {
        background-color: $BCH;
        color: $CH
    }
}
@mixin styleInputLabels() {
    .form-label {
        visibility: hidden;
        color: $colorFont_TabsButtonsLabels;
        font-size: 13px;
    }
    .form-control {
        font-size: $maxSize;
        margin-top: -7px;
        border: none;
        border-bottom: $borderInputsSelects; 
        width: 100%;
        padding: 0px;
        &:focus {
            background-color: white;
        }
    }
}
@mixin styleDivItems() {
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: transparent;
    width: 40px;
    height: 30px;
}
@mixin style_bottom_SaveClose_responsive($PT) {
    .bottom_buttons { 
        div {
            .btn_close, .btn_save {
                padding-top: $PT !important;
            }
        }
    }
}
@mixin style_bottom_JustyCode_responsive($PT) {
    .bottom_buttons {  
        div {
            .btn_justify, .btn_code {
                padding-top: $PT !important;
            }
        }
    }
}